@font-face
  font-family: 'Lazurit-Tahoma'
  src: url('../fonts/Tahoma/Tahoma.woff2') format('woff2'), url('../fonts/Tahoma/Tahoma.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lazurit-Tahoma'
  src: url('../fonts/Tahoma/Tahoma-Bold.woff2') format('woff2'), url('../fonts/Tahoma/Tahoma-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

