section.contacts.bdr
  h2.contacts__title Контакты
  .contacts__address
    .contact__adress-block.bdr
      p.contacts__address-block-text
        | Производство: г.Реж
        br
        | ул. Объездная 3
        br
        | 8 (34364) 3-16-60
        br
        | cko-rezh@mail.ru
      figure.contacts__address-block-img
        img(src='assets/img/zavod.jpg', alt='xxx')
    .contact__adress-block.bdr
      p.contacts__address-block-text
        | Павильон у “Никольского”
        br
        | кладбища
        br
        | 8-900-206-84-97
        br
        | lazurit-nik@mail.ru
      figure.contacts__address-block-img
        img(src='/img/pic/zavod.jpg', alt='')
    .contact__adress-block
      p.contacts__address-block-text
        | Магазин: г. Екатеринбург
        br
        | ул. Челюскинцев 33
        br
        | 8 (343) 215-06-22
        br
        | lazurit-ekat@mail.ru
      figure.contacts__address-block-img
        img(src='/img/pic/zavod.jpg', alt='')
    .contact__adress-block
      p.contacts__address-block-text
        | Магазин: г. Реж
        br
        | ул. Красноармейская 10
        br
        | 8 (34364) 2-41-01
        br
        | lazurit-rezh@mail.ru
      figure.contacts__address-block-img
        img(src='/img/pic/zavod.jpg', alt='')
  button.contacts__btn(type='button') Оставить заявку на звонок
  //-         br
  //-       figcaption.no-padding
  //-         img(src='/img/pic/zavod.jpg', alt='')
  //-   .c-pic.left.col-md-6
  //-     figure.imghvr-fade

  //-       figcaption.no-padding
  //-         img(src='/img/pic/pavilion.jpg', alt='')
  //-   .c-pic.right.col-md-6
  //-     figure.imghvr-fade

  //-       figcaption.no-padding
  //-         img(src='/img/pic/Ekat.jpg', alt='')
  //-   .c-pic.left.col-md-6
  //-     figure.imghvr-fade

  //-       figcaption.no-padding
  //-         img(src='/img/pic/Rez.jpg', alt='')
  //-   .col

