section.sticky
  .wrapper
    nav.sticky-nav
      a.sticky-nav-item(href='#') Главная
      a.sticky-nav-item(href='#') Услуги
      a.sticky-nav-item(href='#') Материалы
      a.sticky-nav-item(href='#') Контакты
      a.sticky-nav-item(href='#') Наши работы