section.suggest
  .wrapper
    h2.section__title.section__title--white Мы предлагаем
    ul.suggest__list
      li.suggest__list-item Изготовление памятников из гранита
      li.suggest__list-item Изготовление памятников из мрамора
      li.suggest__list-item Изготовление памятников из габбро
      li.suggest__list-item Изготовление мемориальных комплексов
      li.suggest__list-item Установка памятников

