footer.footer.text-center
  .container
    .row
      .col.left
        | ООО “Лазурит” - изготовление памятников и продажа,
        br
        | г. Екатеринбург, 8 (343) 215-06-22 &nbsp; &nbsp; г. Реж, 8 (34364) 3-16-60
        br
        | &copy; Все права защищены (2013)
      .col-sm-4.right
        | Приглашаем к сотрудничеству
        br
        | ритуальные организации