header.header
  .wrapper
    .header__top
      .logo
        img.img-responsive(src='assets/img/logo.png', alt='Логотип')
      .nav
        .row
          a.nav-item(href='#') Главная
          a.nav-item(href='#') Наши работы
          a.nav-item(href='#') Услуги
          a.nav-item(href='#') Материалы
          a.nav-item(href='#') Контакты
        .row
          .contact
            a.contact__phone(href="tel:+73432150622") 8 (343) 215-06-22
            br
            a.contact__phone(href="tel:+73436431660") 8 (34364) 3-16-60
          button.contact__btn(type='button') Оставить заявку на звонок
    .header__content
      h1.header__content-title Изготовление и установка памятников
      .header__slider
        a.header__slider-item(href='/assets/img/slide_1.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_1.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_2.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_2.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_3.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_3.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_4.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_4.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_5.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_5.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_6.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_6.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_1.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_1.jpg', width='134', height='235', alt='title')
        a.header__slider-item(href='/assets/img/slide_2.jpg', data-lightbox='image', title='This is the description')
        img(src='/assets/img/slide_2.jpg', width='134', height='235', alt='title')
